<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group" role="group" aria-label="Button group">
      <button type="button" [routerLink]="['/request']" class="btn btn-info">Request</button>
      <button type="button" [routerLink]="['/redeem']" class="btn btn-primary">Reedem</button>
    </div>

<div id="outer" class="container">
    <div id="inner">
      <h1 class="animate__animated animate__jackInTheBox primary">STARBUCKS VOUCHER</h1>
      <p class="animate__animated animate__fadeIn secondary">tp4768@edu.hmu.gr</p>
    </div>
  </div>
  
<div class="admin">
  <button type="button" [routerLink]="['/dashboard']" class="btn btn-primary">Dashboard</button>
</div>